{% load static %}
<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}FlowWeb{% endblock %}</title>
  <link rel="icon" href="{% static 'img/FlowwebLogo.png' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: { primary: { DEFAULT:"#1363DF", dark:"#0B4DB3" }},
          boxShadow: { soft: "0 8px 24px rgba(2,6,23,.08)" }
        }
      }
    }
  </script>
  {% block head_extra %}{% endblock %}
</head>
<body class="bg-white text-slate-800 antialiased">
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
